<main class="movies__section">
  <div class="container">
    <ul class="movies gallery"></ul>
    <div class="modal"></div>
  </div>
</main>

<!-------------- pagination ------------->
<div class="pagination container">
  <div class="pagination__wrap">
    <button class="pagination__arrow pagination__arrow--left" type="button">
      &#60;
    </button>
    <ul class="pagination__pages"></ul>
    <button class="pagination__arrow pagination__arrow--right" type="button">
      &#62;
    </button>
  </div>
</div>

<!-- -----------btn scroll to top----------------- -->
<a href="#search-form" class="to-top">
  <svg width="30" height="30" aria-label="to top">
    <use href="./images/icons.svg#arrow-up" />
  </svg>
</a>
