.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: 481px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 769px) {
    max-width: 1200px;
  }
}
