// ----------pagination----------------

.pagination {
  margin-top: 10px;
  justify-content: center;
  margin-bottom: 40px;

  @media screen and(min-width:768px) {
    margin-bottom: 60px;
  }
}

.pagination__wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.pagination__pages {
  display: flex;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.pagination__page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  //   padding: 8px;
  cursor: pointer;
}

.pagination__page--active {
  font-weight: 800;
  color: gold;
}

.pagination__arrow {
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  border: transparent;
}

.hidden {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0);
}
.hidden::after {
  content: '•••';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  border-radius: 22px;
  background-color: #fff;
}
.hidden + .hidden {
  display: none;
}
